* {
    width: auto !important;
    height: auto;
}

.body-container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #F5F5F5;
    justify-content: space-between;
}

.hero {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    padding: 20px;
    font-weight: 600;
    font-size: 34px;
}

.register {
    background-color: #28CB8B;
    padding: 40px;
    border-radius: 10px;
    width: 40px;
    margin: 20px;
    display: inline;
}
.ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.li {
    margin: 0 20px;
    display: inline;
    font-size: 24px;
    color: #28CB8B;
    transition: color 0.3s;
    cursor: pointer;
}

.h1 {
    display: flex;
    background-color: #ABBED1;
    padding: 76px;
    text-align: left;
    font-size: 600%;
    text-transform: uppercase;
}

.h2, h3, h4, h5, h6 {
    display: flex;
    flex-direction: row;
    padding: 76px;
    text-align: center;
    font-size: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ABBED1;
    padding: 24px;
    font-size: 18px;
    flex-wrap: wrap;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.button.btn.btn-primary {
    transition: color 1s ease;
    &:hover {
        color: white;
    }
  }

.column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: auto;
    box-shadow: #ABBED1;
    padding: 20px;
    background-color: #F5F5F5;
    margin: 20px;
    border-radius: 10px;
}

.icon {
    flex-direction: row;
    width: 65px;
    height: 40px;
    justify-content: space-between;
    gap: 20px;
}

.image-1 {
    box-shadow: 8px, #ABBED1;
    width: 75%;
    height: 25%;
    display: block;
    margin: 20px auto;
    border-radius: 35%;
    position: absolute;
    align-items: flex-end;
}

.button {
    background-color: #28CB8B;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
}

.button:hover {
    background-color: #FFFFFF;
}

.button-8 {
    background-color: #28CB8B;
    font-style: #FFFFFF;
    padding: 10px 20px;
    border-radius: 50%;
}

.p {
    margin: 20px;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    font-weight: 400;
    border-top: 1px solid #ABBED1;
    border-bottom: 1px solid #ABBED1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #263238;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
    justify-items: center;
    
}

.footer-column ul li a {
    color: white;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: medium;
    list-style-type: column;
}

@media screen and (min-width: 64em) {
    .body-container {
      max-width: 1200px;
      margin: 0 auto;
      flex-direction: row;
      padding: 2rem;
      font-size: 18px;
    }
}

@media screen and (max-width: 47.999em) {
    .button {
      min-width: 100%;
      padding: 1.2rem;
      font-size: 1.1em;
    }
  }