* {
    width:auto !important;
    height: ;
}

.body-container {
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

.navbar {
    background-color: ;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.hero-container {
    background-color: ;
    padding: 20px;
}

.content {
    padding: 20px;
}